*

/*It's for entire html code*/
  {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
  min-height: 10;
}

.contain1{
  position: relative;
  width: 100%;
  height: 100vh; 
  /* overflow: hidden;  */
}
.bubbles{
  position: relative;
  display: flex;
}
.bubbles span{
  position: relative;
  width: 12px;
  height: 12px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc( 125s/ var(--i));
}
.bubbles span:nth-child(even){
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate{
  0%{
      transform: translateY(100vh) scale(0);
  }
  100%{
      transform: translateY(-10vh) scale(1);
  }
}

#header

/* # because its an id */
  {
  width: 100%;
  height: 100vh;
  /* background-image: url(images/img3.jpg); */
  background-size: cover;
  background-position: center;
}

.container {
  padding: 30px 2%;
  /*10px from top & bottom and 10% from right & left*/
}

span {
  color: #ff004f;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.firstSection>div {
  width: 70%;
  
}

.leftSection {
  font-size: 2.5rem;
  margin-top: 8%;
  /* margin-left: 5px; */
}

.leftSection .buttons{
  padding: 3%;  
}
.leftSection .btn1 {
  padding: 8px;
  background-color: white;
  color: black;
  border: 4px solid rgb(247, 217, 247);
  border-radius: 16px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0px 25px 20px -20px rgb(180, 129, 227), 25px 0 20px -20px rgb(180, 129, 227);
}
.leftSection .btn2 {
  padding: 12px;
  background-color: white;
  color: Black;
  border: 4px solid rgb(247, 217, 247);
  border-radius: 16px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-left:8px;
  transition-duration: 0.4s;
  box-shadow: 0px 25px 20px -20px rgb(180, 129, 227), 25px 0 20px -20px rgb(180, 129, 227);
}
.leftSection .btn1:hover{
    background-color: #ff004f;
  }
.leftSection .btn2:hover{
    background-color: #ff004f; 
  }


.leftSection h2 {
  font-size: 60px;
}

.leftSection h1 {
  font-family: 'poppins', sans-serif;
  font-size: 45px;
}

.purple {
  color: rgb(180, 129, 227);
}

.rightSection img {
  width: 30vw;
  margin: 50px;
  margin-left: 100px;
}

nav {
  display: flex;
  /*img and nav will be side by side*/
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 90px;
  padding-right: 2px;
  padding-top: 2px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font: size 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

.header-text h1 span {
  color: #ff004f;
}

/*-----------------------------about----------------------------- */
#about {
  color: #ababab;

}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  /* width: 100vw; */
}

.about-col-1 {
  width: 100%;
}

.about-col-1 img {
  width: 40%;
  border-radius: 25px;
  box-shadow: 10px 14px 18px rgb(206, 120, 209);

}

.about-col-2 {
  /* width: 100vw; */
  text-align: center;
}

.about-col-2 p{
  text-align: justify;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 1.5px 2px rgb(235, 151, 235);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  justify-content: space-between;
  color: white;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  color: aqua;
  font-size: 14px;
}

.tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* --------------------Work------------------ */

#Work {
  padding: 0px;
  margin-top: 20px;
}
.sub-titlee{
  font-size: 70px;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 1.5px 2px rgb(235, 151, 235);
  /* width: 100vw; */
  text-align: center;
}

.timeline{
  position: relative;
  max-width: 1200px;
  margin:  100px;
  
}

.contain{
  margin: 80px 50px;
  padding: 20px 50px;
  position: relative;
  width: 50%;
  border-radius: 26px;
  animation: movedown 1s linear forwards;
  opacity: 0;
  box-shadow: 0px -25px 20px -20px rgb(235, 151, 235), 25px 0 20px -20px rgb(235, 151, 235), 0px 25px 20px -20px rgb(235, 151, 235), -25px 0 20px -20px rgb(235, 151, 235);
}

@keyframes movedown{

  0%{
      opacity:1;
      transform: translateY(-30px);
  }
  100%{
      opacity:1 ;
      transform: translateY(0px);
  }

}

.contain:nth-child(1){
  animation-delay: 1s;
}
.contain:nth-child(2){
  animation-delay: 2s;
}

.text-box{
  padding: 50px 50px;
  background:  #262626;
  position: relative;
  border-radius: 36px;
  font-size: 15px;
  margin-top: 27px;
}
.t-up{
  border-top-right-radius: 0px;
}
.t-bottom{
  border-top-left-radius: 0px;
}
.left-contain{
  left: 0;
}

.right-contain{
  left: 50%;
}

.contain img{
  position: absolute;
  width: 50px;
  border-radius: 30%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-contain img{
  left: -20px;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: 50px;
  z-index: -1;
  animation: moveline 8s linear forwards ;

}

@keyframes moveline{
  0%{
      height: 0;
  }
  100%{
      height: 100%;
  }
}

.text-box h2{
  font-weight:600 ;
}
.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}
.text-box a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.text-box:hover {
  background: #ff004f;
}


.left-contain-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 18px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid  #262626;
  right: -10px;
}
.right-contain-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 18px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #262626 ;
  left: -10px;
}



/*-----------------Services-----------*/

#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;

}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 20px;
  transition: backgroun 0.5s, transform 0.5s;
  /* box-shadow: 0px -25px 20px -20px rgb(235, 151, 235), 0px 25px 20px -20px rgb(235, 151, 235), -25px 0 20px -20px rgb(235, 151, 235); */
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}



/*=-------------------Portfolio-----------*/

#portfolio {
  padding: 50px 0;
}
.sub-title{
  text-align: center;
}
.worklist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work_parent{
  display: flex;
  justify-content: center;
}
.work {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  max-width: 70%;
  /* box-shadow: 0px -25px 20px -20px rgb(235, 151, 235), 0px 25px 20px -20px rgb(235, 151, 235), -25px 0 20px -20px rgb(235, 151, 235); */
  /* border: 3px solid  rgb(235, 151, 235); */
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 60%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #fff04f);
  border-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 0px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/* ------------------------------Contact ME---------------------------------- */
.contact_parent{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.box3d {
  border: 3px solid rgb(235, 151, 235);
  width: 60%;
  border-radius: 35px;
  box-shadow: 0px -25px 20px -20px rgb(235, 151, 235), 25px 0 20px -20px rgb(235, 151, 235), 0px 25px 20px -20px rgb(235, 151, 235), -25px 0 20px -20px rgb(235, 151, 235);
}

.box i{
  font-size: 18px;
  color: #00bcd4;
  margin-bottom: 2px;
}

.contact {
  position: relative;
  min-height: 70vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(img.jpeg  );
  background-size: cover;
}

.contact .content {
  max-width: 60%;
  text-align: center;
}

.contact .content p {
  font-size: 15px;
  color: white;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container1 .contactInfo {
  padding: 3px;
  width: 70%;
  display: flex;
  flex-direction: column;

}

.container1 .contactInfo .box {
  position: relative;
  padding: 25px 0;
  display: flex;
}

.container1 .contactInfo .box .icon {
  min-width: 2px;
  height: 2px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  font-size: 25px;
}

.container1 .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
  font-weight: 400;
}

.container1 .contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.contactForm {
    width: 70%;
    border-radius: 25px;
    margin-top: 35px;
}

.contactForm h2 {
  font-size: 30px;
  /* color: #333; */
  font-weight: 500;
  text-align: center;
}

.contactForm .inputBox {
  /* position:relative; */
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.contactForm .inputBox input {
  width: 80%;
  padding: 5px;
  font-size: 16px;
  margin: 10px 0;
  /* border: none; */
  border-radius: 5px;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox textarea{
  width: 80%;
  padding: 5px;
  font-size: 16px;
  margin: 10px 0;
  /* border: none; */
  border-radius: 5px;
  border: 2px solid #333;
  outline: none;
  resize: none;
}

.btn-centre{
  text-align: center;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span {
  color: #e91e63;
  font-size: 12px;
  transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width:991px) {
  .contact {
    padding: 50px;
  }

  .container1 {
    flex-direction: column;
  }

  .container1 .contactInfo {
    margin-bottom: 40px;
  }

  .container1 .contactInfo,
  .contactForm {
    width: 100%;
  }
}




/*-------------FOOTER----------------  */

footer {
  margin-top: 10%;
  position: relative;
  width: 100%;
  background: black;
  min-height: 0px;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(235, 151, 235);
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color:black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer p {
  color: black;
  text-align: center;
  margin-top: 2px;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave11.png.jpg);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 99;
  opacity: 0.9;
  bottom: 10px;
  animation: animateWave_02 5s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.8;
  bottom: 15px;
  animation: animateWave 2s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}



@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@media (max-width:730px){
  nav{
    flex-direction: column;
  }
  nav ul li{
    margin: 10px 10px;
  }
  nav ul li a{
    font-size: 12px;
  }
}

@media (max-width:814px) and (min-width:555px){
  .leftSection h2{
    font-size: 25px;
  }
  .leftSection h1{
    font-size: 25px;
  }
  .leftSection .buttons a{
    font-size: 10px;
  }
}
@media (max-width:555px) and (min-width:470px) {
  .leftSection h2{
    font-size: 18px;
  }
  .leftSection h1{
    font-size: 18px;
  }
  .leftSection .buttons a{
    font-size: 12px;
    margin-top: 3px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    width: 85%;
  }
}
@media (max-width:470px)  {
  .leftSection h2{
    font-size: 18px;
  }
  .leftSection h1{
    font-size: 18px;
  }
  .leftSection .buttons a{
    font-size: 8px;
    margin-top: 3px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width:1300px) and (min-width:550px)  {
  .right-contain{
    left: 0%;
    width: 83%;
  }
  .left-contain{
    width: 83%;
  }
  .timeline::after{
    left: 80%;
  }
  .right-contain img{
    left: 95%;
  }
  .left-contain img{
    left: 95%;
  }
  .t-bottom{
    border-top-right-radius: 0px;
    border-top-left-radius: 36px;
  }
  .contain{
    margin: 80px 30px;
    padding: 20px 30px;
  }
  footer{
    margin-top: 30%;
  }
}
@media (max-width:550px)  {
  .right-contain{
    left: 0%;
    width: 130%;
  }
  .left-contain{
    width: 130%;
  }
  .timeline::after{
    left: 115%;
  }
  .right-contain img{
    left: 95%;
  }
  .left-contain img{
    left: 95%;
  }
  .t-bottom{
    border-top-right-radius: 0px;
    border-top-left-radius: 36px;
  }
  .contain{
    margin: 80px 0px;
    padding: 20px 0px;
  }
  .about-col-2 p{
    margin: 2px;
  }
  footer{
    margin-top: 30%;
  }
}

@media (max-width: 1600px) and (min-width:650px) {
  .about-col-1 img{
    width: 200px;
  }
  .about-col-2 p{
    font-size: 25px;
  }
  .tab-contents ul li span {
    font-size: 22px;
  }
}